@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
/* *{
    border: solid red;
} */
body{
    margin: 0px;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Coming Soon';
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    margin-left: 0px;
    background-color: #facb01;
}

.header_logo{
    margin-left: 0px;
    margin-top: 0px;
}

.navbar_list{
    width: fit-content;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
    list-style: none;

}

.navbar_list > a{
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.intro{
    display: flex;
    /* padding: 30px, 24px; */
    margin-bottom: 40px;
    line-height: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.intro_content{
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 40px;
}

.intro_title{
    font-size: 44px;
    line-height: 50px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 0px;
    color: #3883e8;
}

.intro_subtitle{
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
}


.intro_figure{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro_picture{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#coming-soon{
    margin: 20px;
    width: 1000px; 
    height: 1000px;
    border-radius: 5%;
    border: none;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    font-size: 20px;
    font-weight: 600;
}
input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 12px; 
    border: none; 
    border-radius: 10px;
    background-color: #facb01;
    box-sizing: border-box;  
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical; 
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
  }

.button{
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: 800;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: #facb01;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    margin-top: 40px;
    margin-left: -70px;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    scale: 2;
}